body {
	background: linear-gradient(rgba(35,20,20,0.55),rgba(35,20,20,0.55)),
				url("../img/background.png") no-repeat center center fixed;
	background-size: cover;
	font-family: Helvetica;
}

p {
	margin: 0;
	padding: 3px;
}

.container {
	text-align: center;
}

.logo img {
	animation-name: logo;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-top: 150px;
	margin-bottom: 30px;
}

@keyframes logo {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.playercount {
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 10px;
	background-color: darkblue;
	font-size: 1.22em;
	color: white;
	text-align: center;
	border-radius: 4px;
}

.playercount span {
	font-weight: bold;
}

.items {
	display: flex;
	justify-content: space-around;
	flex-basis: 100px;
	padding: 18px 0 10px 0;

}

.item img {
	transition: all 0.3s ease;
}

.item img:hover {
	transform:scale(1.25);
}

.img {
	max-width: 300px;
}

.footer {
	margin-top: 75px;
	margin-bottom: 10px;
}

.footer p {
	color: darkgray;
}

.footer a {
	color: #0f82af;
	text-decoration: none;
}

@media(min-width: 600px) {
	.logo img {
		width: 750px;
	}
	.img {
		width: 100%;
	}
	.items {
		padding: 30px 0 20px 0;
	}
}

@media(min-width: 1000px) {
	.items {
		justify-content: center;
	}

	.item:not(:first-child) {
		margin-left: 90px;
	}
}
